/* SLiding Start */

#slider {
    position: relative;
    width: 1222px;
    height: 254px;
    margin: 5px 4.5rem;
    overflow: hidden;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); */
    /* border: 1px solid rgb(0, 255, 21); */
  }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
   
    float: left;
    /* border: 1px solid green; */
  }
  #slider ul li img{
    width: 1222px;
    height: 254px;
    /* border: 1px solid red; */
  }
   
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 10%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
    /* border: 1px solid red; */
  }
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
    /* border: 1px solid blueviolet */
  }
  #slider #prev {
    left: 10px;
    /* border: 1px solid blueviolet */
  }
  #slider #next {
    right: 10px;
    /* border: 1px solid blueviolet */
  }
  

  /* sliding End */